{% load i18n %}
<div class="sponsors">
  {% for lvl in levels %}
  <h3>{{ lvl.name }}</h3>
  <ul>
    {% for sponsor in lvl.sponsor_set.all %}
      {% if sponsor.image %}
      <li class="sponsor-{{ lvl.order }}">
        <a href="{% url "sponsor" sponsor.slug %}">
          <img src="{{ MEDIA_URL }}{{ sponsor.image }}" alt="{{ sponsor.name }}">
          {% if detail == 'True' %}
          <div class="info">
            {{ sponsor.name }}
          </div>
          {% endif %}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</div>
