language: python
python:
  - "3.5"

# command to install dependencies
install:
  - "pip install flake8"
  - "pip install -r requirements-dev.txt"

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

# command to run tests
script:
  - echo "run test"

after_success:
  - codedev
