{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}
{% block og-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}
{% block og-image %}{{ sponsor.image.url }}{% endblock %}
{% block nav %}{% include "nav.html" with title=sponsor.name %}{% endblock %}
{% block title %}{{ sponsor.name }}{% endblock %}

{% block content %}
<div class="sponsor">
    {% if sponsor.slug != "info" %}
    <img src="{{ sponsor.image.url }}" alt="{{ sponsor.name }}">
    <ul class="list-group">
        <li class="list-group-item">
        <span class="glyphicon glyphicon-tag"></span> {{ sponsor.level }}
        </li>
        <li class="list-group-item">
        <span class="glyphicon glyphicon-share-alt"></span> {{ sponsor.url|urlize }}
        </li>
    </ul>
    {% endif %}
    <div>
        {{ sponsor.desc|safe }}
    </div>
</div>
{% endblock %}
