{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Tutorials</h2>
<ul>
  {% for tutorial in tutorials %}
  <li>
    <span class="label label-info">{{ tutorial.get_type_display }}</span>
    <a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a>
    {% if tutorial.id in joined_tutorials %}
    <span class="badge">{% trans "Joined" %}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url "sprint-propose" %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Propose a sprint" %}
</a>
<h2>Sprints</h2>
<ul>
  {% for sprint in sprints %}
  <li>
    <span class="label label-info">{{ sprint.get_type_display }}</span>
    <a href="{{ sprint.get_absolute_url }}">{{ sprint.title }}</a>
    {% if sprint.id in joined_sprints %}
    <span class="badge">{% trans "Joined" %}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{% url "tutorial-propose" %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Propose a tutorial" %}
</a>
{% endblock %}
