{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}
<h1>
    {{ tutorial.title }}
    {% if tutorial.user == request.user %}
    <a href="{% url 'tutorial-proposal-update' %}" class="btn btn-primary">
        <i class="fa fa-pencil-square-o"></i> {% trans "Edit" %}
    </a>
    {% endif %}
</h1>
{% endblock %}
{% block content %}
<div class="row proposal-detail">
    <p>
        <span class="label label-info">{{ tutorial.get_type_display }}</span>
        <span class="label label-info">{{ tutorial.get_difficulty_display }}</span>
        <span class="label label-info">{{ tutorial.get_duration_display }}</span>
        <span class="label label-info">{{ tutorial.get_language_display }}</span>
        <span class="label label-info">{{ tutorial.get_capacity_display }}</span>
    </p>
    <h3>{{ tutorial.user.profile.name }} <small>{{ tutorial.user.profile.organization }}</small></h3>
    <div>
        {{ tutorial.user.profile.bio|safe }}
    </div>
    <hr>
    <div>
        <h4>{% trans "Brief" %}</h4>
        <div>{{ tutorial.brief|linebreaks }}</div>
    </div>
    <hr>
    <div>
        <h4>{% trans "Detailed description" %}</h4>
        {{ tutorial.desc|safe }}
    </div>
</div>
<br>
<a href="{% url "tutorials" %}" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span> {% trans "Back to list" %}
</a>
{% if joined %}
<a href="{% url "tutorial-join" tutorial.id %}?leave=1" class="btn btn-warning">
    <span class="glyphicon glyphicon-minus"></span> {% trans "Leave this event" %}
</a>
{% else %}
<a href="{% url "tutorial-join" tutorial.id %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Join this event" %}
</a>
{% endif %}
<hr>
<h3>{% trans "Attendees" %}</h3>
{% if not attendees %}
<p>{% trans "No attendees, yet." %}</p>
{% else %}
<ul class="attendees">
{% for attend in attendees %}
    <li>
        {% if attend.picture %}
        <img class="profile-thumb" src="/media/{{ attend.picture }}">
        {% else %}
        <span class="glyphicon glyphicon-user"></span>
        {% endif %}
        <span class="name">{{ attend.name }}</span>
	{% if not attend.registered %}
	<span class="label label-danger">{% trans "Not registered user" %}</span>
	{% endif %}
	{% if attend.waiting %}
	<span class="label label-warning">{% trans "Waiting" %}</span>
	{% else %}
	<span class="label label-success">{% trans "Checked in" %}</span>
	{% endif %}
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% endif %}
{% endblock %}
