@media (max-width: 768px) {
    body {
        padding-bottom: 24rem;
    }
    .navbar {
        top: 0px;
        width: 100%;
        z-index: 50;
    }
    .navbar-nav {
        margin-top: 4px;
    }
    .navbar .navbar-toggle {
        position: fixed;
        z-index: 100;
        top: 12px;
        right: 12px;
        margin: 0;
        background: rgba(255,255,255,0.95);
    }
    .navbar .navbar-collapse {
        background: rgba(255,255,255,0.98);
        top: 0px;
        position: fixed;
        width: 100%;
        min-height: 1024px;
        max-height: 1024px;
    }

    .navbar .navbar-nav>.active>a,
    .navbar .navbar-nav>.active>a:hover,
    .navbar .navbar-nav>.active>a:focus {
        border-bottom: none;
        background-color: #aaa;
    }

    .navbar-translucent {
    }
    .navbar-translucent .navbar-toggle{
        position: absolute;
        background: rgba(0,0,0,0.5);
    }
    .navbar-translucent .navbar-collapse {
        z-index: 10;
        background: rgba(0,0,0,0.9);
    }
    .navbar-translucent .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-translucent .nav>li>a:hover,
    .navbar-translucent .nav>li>a:focus,
    .navbar-translucent .dropdown-menu>li>a:hover,
    .navbar-translucent .dropdown-menu>li>a:focus {
        background-color: #555;
    }
    .navbar-nav>li>a {
        padding: 10px 0 15px 15px;
        font-size: 1.5rem;
        line-height: 30px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        font-size: 1.2rem;
        line-height: 30px;
    }
    .frontpage .sky {
        height: 360px;
    }
    .footer .col {
        text-align: center;
    }
    .titlebar h1 {
        font-size: 2rem;
    }
}

@media (max-width: 640px) {
    .frontpage .sky {
        height: 320px;
    }
    .frontpage .slogan h1 {
        font-size: 4rem;
    }
    .frontpage .slogan h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .frontpage .sky {
        height: 280px;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container>.navbar-header,
    .container>.navbar-collapse {
        margin-left: -5px;
        margin-right: -5px;
    }

    .frontpage .slogan h1 {
        font-size: 3rem;
    }
    .frontpage .slogan h3 {
        font-size: 1rem;
    }

    .well {
        margin: 14px -12px;
    }

    .jobfair dt img {
        width: auto;
        height: 32px;
    }
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
