<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">

    <!-- Opengraph tag -->
    <meta property="og:site_name" content="PyCon KR 2017">
    <meta property="og:title" content="PyCon KR 2017 - 발표자 등록 안내">
    <meta property="og:image"
          content="https://www.pycon.kr/2017/static/image/facebook_share_image-01.png">
    <meta property="og:url" content="https://www.pycon.kr/2017/">
    <meta property="og:description"
          content="발표 제안서를 작성하시기 전에 발표 제안서를 작성하는 방법을 참고해주세요.&nbsp;PyCon KR 2017의 모든 발표 내용은 녹화 후 공개됩니다.&nbsp;발표 제안서 내용과 관련된 문의 사항은 program at pycon dot kr 으로 보내주시면 감사하겠습니다.">

    <title>PyCon KR 2017 - Teaser</title>

    <link rel="stylesheet" href="../../static/components/bootstrap/dist/css/bootstrap.min.css">
    <link href='../../static/components/NanumBarunGothic/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <script src="../../static/components/jquery/dist/jquery.slim.js"></script>
    <script src="../../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            font-family: 'Nanum Barun Gothic', sans-serif;
            padding: 100px;
        }

        div#container {
            margin-top: auto;
            margin-bottom: auto;
        }

        h3 {
            display: inline;
        }

        section {
            margin: 50px;
        }

        .subject_item {
            margin: 50px;
        }

        .description {
            margin: 10px;
            font-size: medium;
        }
    </style>
</head>
<body>
<div id="container">
    <article>
        <img src="../../static/image/python-black.png" alt="Python Black Image">
        <section id="beginning">
            <h2>발표자 모집</h2>
            <ul>
                <li>
                    발표 제안서를 작성하기 전에 '발표 제안서를 작성하는 방법'을 참고해주세요. 파이콘 한국 2017의 모든 발표내용은 녹화 후 공개됩니다.
                </li>
                <li>
                    발표 제안서를 등록하시려면 '사용자 등록'이 필요합니다.
                </li>
                <li>
                    발표 제안서 내용과 관련된 문의 사항은 program@pycon.kr 으로 보내주시면 감사하겠습니다.
                </li>
            </ul>
        </section>

        <section id="apply_cfg">
            <h2>발표자 지원 서식 작성</h2>
            <ul>
                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsWvNn_AwlsFjYUPvW0yTZe7vxc9Qtc0CRtpZ4LFlJl28kXQ/viewform?c=0&w=1&usp=send_form"
                       target="_blank">
                        지원 서식 작성하기
                    </a>
                </li>
            </ul>
        </section>

        <section id="goal">
            <h2>파이콘 한국 2017의 목표</h2>
            <p>작성 중</p>
        </section>

        <section id="subject">
            <h2>발표 주제</h2>
            <p>파이썬에 대한 학술적 또는 상업적 프로젝트, 케이스 스터디 등 다양한 파이썬 관련 발표를 모집하고 있습니다. 제시된 주제는 예시이며, 이하의 내용으로 한정하는 것은 아닙니다.</p>
            <ul>
                <li class="subject_item">
                    <h3>Best Practices & pattern</h3>
                    <p class="description">
                        파이썬을 파이썬스럽게 사용할 수 있는 방법이라면 모두 환영합니다.<br>웹, 네트워킹, 디버깅, 파이썬 기본 등 다양한 분야에 걸쳐 여러분만의 지식을
                        공유해주세요.
                    </p>
                    <ul>
                        <li>
                            디버깅
                        </li>
                        <li>
                            리팩토링
                        </li>
                        <li>
                            배포 및 테스트 자동화
                        </li>
                        <li>
                            웹 크롤링
                        </li>
                        <li>
                            네트워크
                        </li>
                    </ul>
                </li>

                <li class="subject_item">
                    <h3>Python Core (language, stdlib, etc)</h3>
                    <p class="description">
                        파이썬 내부의 동작에 대해 얘기해주세요.<br>파이썬에서 메모리는 어떻게 제어가 될까요? 다른 언어와 차별화된 파이썬의 특징은 무엇일까요?<br>
                        파이썬 기본 라이브러리 중 유용한 팁도 좋습니다.
                    </p>
                    <ul>
                        <li>
                            기본 라이브러리 동작 관련
                        </li>
                        <li>메모리 관리, 코어 로직 동작 관련</li>
                        <li>메타 프로그래밍</li>
                    </ul>
                </li>

                <li class="subject_item">
                    <h3>Python Libraries</h3>
                    <p class="description">
                        파이썬 생태계에는 유용한 라이브러리가 정말 많습니다.<br>혹시 소개해주고 싶은 좋은 라이브러리가 있나요?
                        <br>너무 좋은데 아직 덜 알려진 것들이 있다면 파이콘 한국 2017을 통해 알릴 수 있습니다.<br>
                        여러분이 직접 만든 라이브러리도 좋습니다.
                    </p>
                    <ul>
                        <li>
                            유용한 라이브러리 사용 관련
                        </li>
                    </ul>
                </li>

                <li class="subject_item">
                    <h3>Science / Data</h3>
                    <p class="description">
                        데이터는 중요합니다. 데이터를 잘 다루는 방법도 중요하죠.<br>
                        트렌드와 상관없이 중요한 데이터에 대해 이야기해 주세요. 성공한 경험뿐만 아니라 실패한 경험도 소중합니다.
                    </p>
                    <ul>
                        <li>데이터 시각화</li>
                        <li>Pandas, numpy 등 라이브러리 사용 관련</li>
                    </ul>
                </li>

                <li class="subject_item">
                    <h3>Community</h3>
                    <p class="description">파이썬 생태계에서 가장 중요한 부분은 파이썬 사용자들 간의 커뮤니티입니다.<br>
                        파이썬과 관련된 커뮤니티를 운영하고 계신다면 여러분만의 이야기를 들려주세요.<br>
                        혹시 기술 블로그가 있다면 어떤 방식으로 글을 쓰고 계신가요? 커뮤니티와 관련된 발표를 기다립니다.</p>
                    <ul>
                        <li>
                            컨트리뷰터 되기
                        </li>
                        <li>
                            파이썬 기술 블로그
                        </li>
                        <li>
                            파이썬 커뮤니티 운영
                        </li>
                    </ul>
                </li>

                <li class="subject_item">
                    <h3>Other</h3>
                    <p class="description">
                        위의 대주제에 속하지 않지만 파이썬과 관련된 모든 주제를 포함합니다<br>
                        파이썬을 사용한 <strong>'긱(<small><em>Geek</em></small>)'</strong>스러운 도전도 좋고 팁도 좋습니다. <br>
                        개발자에게 소개하고 싶은 주제라면 파이썬과 관련이 없더라도 좋습니다.
                    </p>
                    <ul>
                        <li>
                            위에 언급되지 않았지만 어디에도 속하기 모호한 모든 주제
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section id="schedule">
            <h2>일정</h2>
            <ul>
                <li><strong>5월 16일 (화)</strong>&nbsp;:&nbsp;발표 주제 모집 오픈</li>
                <li><strong>5월 20일 (토)</strong>&nbsp;:&nbsp;발표 주제 모집 마감</li>
                <li><strong>6월 1일 (목)</strong>&nbsp;:&nbsp;최종 발표자 확정</li>
            </ul>
        </section>
        <section id="voucher">
            <h2>안내</h2>
            <ul>
                <li>파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 공유의 장입니다.</li>
                <li>발표내용은 파이콘 한국의 품질을 유지하기 위하여 심사되고 보완될 수 있습니다.</li>
                <li>각 세션의 발표시간은 25분 또는 45분 입니다. 발표 시간은 조정될 수 있습니다.</li>
            </ul>

        </section>
        <section id="contact">
            <h2>문의</h2>
            <ul>
                <li>이메일 : program at pycon dot kr</li>
            </ul>

        </section>
    </article>
</div>
</body>
</html>