<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>파이콘 한국 2017 - Teaser</title>
  <link rel="icon" type="image/png" href="{% static "image/favicon2017.ico" %}">
  <link href="{% static "css/pyconkr-teaser.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static "js/teaser.js" %}"></script>
</head>
<body>
  <div id="brackets">
    <img class="bracket_fill" src="{% static "image/angle_bracket_fill.png" %}"></img>
    <img class="bracket_fill" src="{% static "image/angle_bracket_fill.png" %}"></img>

    <img class="bracket_line" src="{% static "image/angle_bracket_line.png" %}"></img>
    <img class="bracket_line" src="{% static "image/angle_bracket_line.png" %}"></img>
    <img class="bracket_line" src="{% static "image/angle_bracket_line.png" %}"></img>
    <img class="bracket_line" src="{% static "image/angle_bracket_line.png" %}"></img>
  </div>
  <header id="header">
    <h1 class="header-slogan">Back to the Basic</h1>
    <h3>
      <span class="header-title">PYCON KOREA</span>
      <span class="header-date">2017.08.12-15</span>
      <div class="header-place">Seoul, COEX</div>
    </h3>
    <img class="header-logo" src="{% static "image/pycon2017-logo-yellow.png" %}">
  </header>
  <nav id="navbar">
  <ul class="nav">
    <li>
      <a href="#summary" class="navbar_link">개요</a>
    </li>
    <li>
      <a href="#slogan" class="navbar_link">슬로건</a>
    </li>
    <li>
      <a href="#proposal" class="navbar_link">발표자 지원</a>
    </li>
    <li>
      <a href="#topic" class="navbar_link">발표 주제</a>
    </li>
    <li>
      <a href="#schedule" class="navbar_link">다양한 프로그램</a>
    </li>
    <li>
      <a href="#about" class="navbar_link">안내</a>
    </li>
    <li>
      <a href="#contact" class="navbar_link">문의</a>
    </li>
    <li>
      <a href="#sns" class="navbar_link">공식 소셜 계정</a>
    </li>
  </ul>
  </nav>
  <div class="main-grid">
    <article>
      <section id="summary">
        <h2>개요</h2>
        <div>
          <h3>일시</h3>
          2017년 8월 12일(토) ~ 2017년 8월 15일(화)
        </div>
        <div>
          <h3>장소</h3>
          코엑스 그랜드볼룸, 서울
        </div>
      </section>
      <section id="slogan">
        <h2>슬로건</h2>
        <p>
          파이콘 한국 2017은 <b>Back to the Basic</b>이라는 주제로 파이썬 초심자들도 부담없이 참가할 수 있는 컨퍼런스로 진행될 예정입니다.
        </p>
      </section>
      <section id="proposal">
        <h2>발표자 지원</h2>
      <div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsWvNn_AwlsFjYUPvW0yTZe7vxc9Qtc0CRtpZ4LFlJl28kXQ/viewform?c=0&w=1&usp=send_form" target="_blank">
            지원 서식 작성하기
          </a>
        </div>
      </section>

      <section id="topic">
        <h2>발표 주제</h2>
        <div>
          <ul class="topic-list">
            <li>Best Practices & Pattern</li>
            <li>Python Core (language, stdlib, etc.)</li>
            <li>Python Libraries</li>
            <li>Science / Data</li>
            <li>Community</li>
            <li>Other</li>
          </ul>
          <div>
            파이썬에 대한 학술적 또는 상업적 프로젝트, 케이스 스터디 등 다양한 파이썬 관련 발표를 모집하고 있습니다.
            제시된 주제는 예시이며, 위의 내용으로 한정하는 것은 아닙니다.
          </div>
        </div>
      </section>

      <section id="schedule">
        <h2>다양한 프로그램</h2>
        <div>
          <p>
            8월 12일과 13일 발표 세션 이외에도 8월 14일과 15일 양일간 다양한 파이썬 관련 튜토리얼 세션과 스프린트 (프로젝트 코딩) 프로그램 등으로 구성되어 있습니다.
          </p>
        </div>
      </section>

      <section id="info">
        <h2>안내</h2>
        <div>
          <p>
            파이콘 한국은 한국의 파이썬 개발자들이 지식을 공유하고 만남을 갖기 위한 공유의 장입니다.
            5월 16일 오후 1시부터 얼리버드 티켓을 판매할 예정입니다.
            아직 일반 티켓 판매 일정은 정해지지 않았으며 추후 공식 페이스북, 트위터 등을 통해서 공지할 예정입니다.
          </p>
        </div>
      </section>
      <section id="contact">
        <h2>문의</h2>
        <div>
          <h3>이메일</h3>
          program@pycon.kr
        </div>
        <div>
          <h3>스폰서 문의</h3>
          sponsor@pycon.kr
        </div>
      </section>
      <section id="sns">
        <h2>공식 소셜 계정</h2>
        <div>
          <h3>트위터</h3>
          <a href="https://twitter.com/pyconkr">https://twitter.com/pyconkr</a>
        </div>
        <div>
          <h3>페이스북</h3>
          <a href="https://www.facebook.com/pyconkorea/">https://www.facebook.com/pyconkorea/</a>
        </div>
      </section>
    </article>
  </div>
  <footer>
    <div class="main-grid">
      <img class="footer-logo" src="../../static/image/pyconkr2017-logo.png">
      <div class="footer-content">
      <h3>Back to the Basic at PyCon Korea 2017</h3>
      PyCon Korea 2017 is a product of PyCon Korea Organizing Team
    </div>
    </div>
  </footer>
</body>
</html>
