<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyCon KR 2017 - Teaser</title>
    <script src="../../static/components/jquery/dist/jquery.slim.js"></script>
    <link rel="stylesheet" href="../../static/components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href='../../static/components/NanumBarunGothic/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Nanum Barun Gothic', sans-serif;
        }

        div#container {
        {#            margin-top: auto;#}{#            margin-bottom: auto;#}
        }

        .navbar-default {
            background: #FFFFFF;
        }
    </style>
</head>
<body>
<div id="container">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">HOME</a>
                </li>
                <li>
                    <a href="cfp.html">CFP</a>
                </li>
            </ul>
        </div>
    </nav>

    <article>
        <h2 id="title">PyCon KR 2017</h2>
        <h2 id="date">2017년 8월 12일 - 15일</h2>
    </article>
</div>
</body>
</html>