<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyCon KR 2017 - Teaser</title>
    <script src="../../static/components/jquery/dist/jquery.slim.js"></script>
    <link rel="stylesheet" href="../../static/components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href='../../static/components/NanumBarunGothic/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Nanum Barun Gothic', sans-serif;
        }

        div#container {
            margin-top: auto;
            margin-bottom: auto;
        }

        div#title {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 5em;
        }

        div#date {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 5em;
        }
    </style>
</head>
<body>
<div id="container" class="center-block">
    <div id="title" class="text-center center-block">PyCon KR 2017</div>
    <div id="date" class="text-center center-block">2017년 8월 12일 - 15일</div>
</div>
</body>
</html>