{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
    <div>

        {% if is_registered %}
            <div>
                <p>이미 등록되었습니다.</p>
                <p>
                    <a href='{% url 'registration_status' %}'>등록 확인하기</a>
                </p>
            </div>
        {% else %}
            {% if not is_ticket_open %}
                <div>등록 기간이 아닙니다</div>
            {% elif is_sold_out %}
                <div>SOLD OUT</div>
            {% else %}
                <div>
                    {% for option in options %}
                        <div>
                            <h3>{{ option.name }}</h3>
                            <p>{{ option.description }}</p>
                            <p>Price: {{ option.price|intcomma }} KRW</p>
                            <p>
                            {% if option.is_soldout %}
                                <div class="btn btn-info">
                                    {{ option.name }}-SOLD OUT
                                </div>
                            {% else %}
                                <a href='{% url 'registration_payment' option.id %}' class="btn btn-primary">
                                    {{ option.name }}
                                </a>
                            {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
